#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
}

#login .form {
    background-color: rgba(250, 0, 0, 0.694);
    width: 30%;
    max-width: 480;
    padding: 0.5rem;
}

#login .field {
    padding-bottom: 0.5rem ;
}

#login .field label {
    margin-left: 0.5rem;
    display: block;
}

#login .field input {
    margin-left: 0.5rem;
    width: 92%;
}

#login .actions {
    text-align: center;
    margin-top: 0.5rem;
}