.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: brown;
  color: white;
}

.header  a {
  text-decoration: none;
  color: white
}

.header a:hover {
  background-color: burlywood;
}

.logo {

  width: 25vh;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li{
  margin-left: 25px;
}

h1 {
  margin-left: 10px;
}

