.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .body img {
    width: 20%;
  }

  .bodyList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .cartas {
    width: 30%;
    
  }
  
  .divMapCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }